# SC1015 : Introduction to Data Science and Artificial Intelligence
# Mini-Project : Spread of Covid in US Counties

In [166]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

In [167]:
usa_county = pd.read_csv('usa_county_wise.csv')
usa_county.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,"American Samoa, US",1/22/20,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,"Guam, US",1/22/20,0,0
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,"Northern Mariana Islands, US",1/22/20,0,0
3,63072001,PR,PRI,630,72001.0,Adjuntas,Puerto Rico,US,18.180117,-66.754367,"Adjuntas, Puerto Rico, US",1/22/20,0,0
4,63072003,PR,PRI,630,72003.0,Aguada,Puerto Rico,US,18.360255,-67.175131,"Aguada, Puerto Rico, US",1/22/20,0,0

Here, we have a dataset with over 600,000 data points. This covers all 3000+ counties over the span of over 6 months, covering number of infected and deaths by Covid per day. While very extensive, we felt that not all the data was relevant, and instead wanted to show a general trend, so we felt working with all 600,000 data points was not necessary. The code below was used to truncate the data set, filtering by a specific date, in this case 27 July 2020.

In [168]:
#usa_county_27july = usa_county[usa_county['Date']=='7/27/20']
#usa_county_27july.to_csv('usa_county_27july.csv', index=False)

Having done that, we will start importing all the relevant data sets, namely:
> Average Household Size and Population Density  
> Health Insurance Coverage  
> Income and Benefits  
> Occupation by Sex  
> Population and Poverty Status  
> USA County Covid Tracking

We felt these demographic factors might give insight to how and why Covid may have spread differently based on each county. We hope to be able to merge these data sets, as a part of our data cleaning, so that we may view the data points together.

In [169]:
housePop = pd.read_csv('Average_Household_Size_and_Population_Density_-_County.csv')
housePop.head()

,COUNTYNS,Geographic Identifier - FIPS Code,Area of Land (square meters),Area of Water (square meters),Name,State,Average Household Size,Average Household Size - Margin of Error,Average Household Size of Owner-Occupied Unit,Average Household Size of Owner-Occupied Unit - Margin of Error,...,Total Population,Total Population - Margin of Error,Population Density (people per square kilometer),created_user,created_date,last_edited_user,last_edited_date,Shape__Area,Shape__Length,Population Density - Margin of Error
0,161526,1001,1.539602e+09,25706961,Autauga County,Alabama,2.59,0.05,2.59,0.07,...,55200,NaN,35.853419,esri_demographics,1/4/2020 20:53,esri_demographics,1/4/2020 20:53,2.066037,0.150256,NaN
1,161527,1003,4.117547e+09,1133055836,Baldwin County,Alabama,2.61,0.04,2.66,0.06,...,208107,NaN,50.541504,esri_demographics,1/4/2020 20:53,esri_demographics,1/4/2020 20:53,4.483746,0.409904,NaN
2,161528,1005,2.292145e+09,50538698,Barbour County,Alabama,2.49,0.07,2.44,0.11,...,25782,NaN,11.247981,esri_demographics,1/4/2020 20:53,esri_demographics,1/4/2020 20:53,2.695262,0.223270,NaN
3,161529,1007,1.612167e+09,9602089,Bibb County,Alabama,2.99,0.14,3.05,0.18,...,22527,NaN,13.973114,esri_demographics,1/4/2020 20:53,esri_demographics,1/4/2020 20:53,1.887514,0.156473,NaN
4,161530,1009,1.670104e+09,15015423,Blount County,Alabama,2.77,0.05,2.85,0.07,...,57645,NaN,34.515816,esri_demographics,1/4/2020 20:53,esri_demographics,1/4/2020 20:53,2.423552,0.164405,NaN

In [170]:
housePop.describe()

,COUNTYNS,Geographic Identifier - FIPS Code,Area of Land (square meters),Area of Water (square meters),Average Household Size,Average Household Size - Margin of Error,Average Household Size of Owner-Occupied Unit,Average Household Size of Owner-Occupied Unit - Margin of Error,Average Household Size of Renter-Occupied Unit,Average Household Size of Renter-Occupied Unit - Margin of Error,Total Population,Total Population - Margin of Error,Population Density (people per square kilometer),Shape__Area,Shape__Length,Population Density - Margin of Error
count,3.220000e+03,3220.000000,3.220000e+03,3.220000e+03,3220.000000,3220.000000,3219.000000,3219.000000,3220.000000,3220.000000,3.220000e+03,116.000000,3220.000000,3220.000000,3220.000000,0.0
mean,9.628897e+05,31393.605280,2.844093e+09,2.143251e+08,2.529093,0.081494,2.563088,0.102336,2.444950,0.202314,1.013323e+05,126.905172,112.623419,2.547094,0.342884,NaN
std,5.174236e+05,16292.078954,9.255389e+09,1.220804e+09,0.279374,0.067781,0.274885,0.079810,0.393263,0.182878,3.260964e+05,55.460127,693.241940,3.057200,1.788998,NaN
min,2.390100e+04,1001.000000,5.300265e+06,0.000000e+00,1.340000,0.010000,1.790000,0.010000,1.360000,0.010000,7.500000e+01,16.000000,0.014362,0.131432,0.000550,NaN
25%,4.849888e+05,19032.500000,1.085268e+09,7.009854e+06,2.350000,0.040000,2.400000,0.050000,2.200000,0.100000,1.121425e+04,94.250000,6.636347,1.631522,0.114605,NaN
50%,9.741585e+05,30024.000000,1.565689e+09,1.938601e+07,2.490000,0.070000,2.520000,0.090000,2.400000,0.170000,2.595050e+04,116.500000,17.822770,1.984084,0.164951,NaN
75%,1.419973e+06,46105.500000,2.368884e+09,6.069241e+07,2.650000,0.100000,2.690000,0.130000,2.640000,0.250000,6.655225e+04,157.000000,51.347991,2.629431,0.246600,NaN
max,2.516404e+06,72153.000000,3.770000e+11,2.599228e+10,4.970000,1.140000,4.880000,1.460000,6.810000,5.490000,1.009805e+07,380.000000,27819.804800,63.716966,74.257081,NaN

In [171]:
healthInc = pd.read_csv('Health_Insurance_Coverage_-_Counties_2015-2019.csv')
healthInc.head()

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,County_Name,LSAD,ALAND,AWATER,GEO_PARENT_NAME,...,Civilian noninstitutionalized population under 19 years,Civilian noninstitutionalized population under 19 years *margin of error,Total Civilian Noninstitutionalized Population under 19 yrs - No health insurance coverage,Total Civilian Noninstitutionalized Population under 19 yrs - No health insurance coverage *margin of error,Percent of Population with No Health Insurance Coverage,Percent of Population with No Health Insurance Coverage *margin of error,Total Civilian Noninstitutionalized Population - No health insurance coverage,Total Civilian Noninstitutionalized Population - No health insurance coverage *margin of error,Shape__Area,Shape__Length
0,1,1,161526,0500000US01001,1001,Autauga,6,1.539602e+09,25706961,Alabama,...,13915,166,242,131,7.1,1.0,3856,561,2.052664,0.150257
1,1,3,161527,0500000US01003,1003,Baldwin,6,4.117622e+09,1132980868,Alabama,...,48427,382,1836,537,8.9,0.7,18679,1449,4.278237,0.409922
2,1,5,161528,0500000US01005,1005,Barbour,6,2.292160e+09,50523213,Alabama,...,5594,76,184,110,11.3,1.5,2544,342,2.566226,0.223253
3,1,7,161529,0500000US01007,1007,Bibb,6,1.612167e+09,9602089,Alabama,...,4759,77,94,82,10.7,2.2,2201,466,1.886955,0.156525
4,1,9,161530,0500000US01009,1009,Blount,6,1.670104e+09,15015467,Alabama,...,13974,151,822,347,10.8,1.4,6159,810,2.392512,0.164404

In [172]:
healthInc.describe()

,STATEFP,COUNTYFP,COUNTYNS,GEOID,LSAD,ALAND,AWATER,POP_DENSITY,Employer Insurance only - Pop < 19,Employer Insurance only - Pop < 19 *margin of error,...,Civilian noninstitutionalized population under 19 years,Civilian noninstitutionalized population under 19 years *margin of error,Total Civilian Noninstitutionalized Population under 19 yrs - No health insurance coverage,Total Civilian Noninstitutionalized Population under 19 yrs - No health insurance coverage *margin of error,Percent of Population with No Health Insurance Coverage,Percent of Population with No Health Insurance Coverage *margin of error,Total Civilian Noninstitutionalized Population - No health insurance coverage,Total Civilian Noninstitutionalized Population - No health insurance coverage *margin of error,Shape__Area,Shape__Length
count,3220.000000,3220.000000,3.220000e+03,3220.000000,3220.000000,3.220000e+03,3.220000e+03,3220.000000,3220.000000,3220.000000,...,3.220000e+03,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000
mean,31.290683,102.922050,9.628897e+05,31393.605280,6.569565,2.844436e+09,2.139761e+08,112.750562,11564.554969,524.306211,...,2.435040e+04,162.774845,1232.237888,233.813043,9.549627,1.734658,8839.888199,605.527640,2.581581,0.342835
std,16.277207,106.693846,5.174236e+05,16292.078954,2.652226,9.256066e+09,1.220470e+09,692.745183,36062.877369,605.854098,...,7.911533e+04,146.676597,5043.523352,293.690871,5.086483,1.404545,35466.447087,749.167229,3.558888,1.790048
min,1.000000,1.000000,2.390100e+04,1001.000000,0.000000,5.300262e+06,0.000000e+00,0.014261,1.000000,4.000000,...,1.000000e+00,4.000000,0.000000,2.000000,0.000000,0.100000,0.000000,4.000000,0.126110,0.000550
25%,19.000000,35.000000,4.849888e+05,19032.500000,6.000000,1.085267e+09,7.004659e+06,6.683385,944.250000,192.000000,...,2.590500e+03,72.000000,114.000000,72.000000,5.700000,0.900000,923.750000,212.000000,1.622240,0.114586
50%,30.000000,79.000000,9.741585e+05,30024.000000,6.000000,1.565686e+09,1.930200e+07,17.895454,2415.000000,340.500000,...,6.118500e+03,121.000000,325.500000,150.000000,8.600000,1.400000,2259.500000,400.000000,1.975052,0.164877
75%,46.000000,133.000000,1.419973e+06,46105.500000,6.000000,2.368903e+09,6.022325e+07,51.768885,7056.500000,614.000000,...,1.579175e+04,195.000000,832.000000,283.250000,12.000000,2.200000,5625.500000,699.000000,2.594089,0.246600
max,72.000000,840.000000,2.516404e+06,72153.000000,25.000000,3.770000e+11,2.597330e+10,27806.766950,937617.000000,8901.000000,...,2.346589e+06,1712.000000,158267.000000,4518.000000,46.300000,36.300000,965181.000000,11067.000000,71.549539,74.257061

In [173]:
incBen = pd.read_csv('Income_and_Benefits_-_Counties_2015-2019.csv')
incBen.head()

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,GEO_PARENT_NAME,...,Total Households - With Supplemental Security Income,Total Households - With Supplemental Security Income *margin of error,Total Households - With cash public assistance income,Total Households - With cash public assistance income *margin of error,Total Households - With Food Stamp/SNAP benefits in the past 12 months,Total Households - With Food Stamp/SNAP benefits in the past 12 months *margin of error,"Percent of Households with income in the past 12 months that was less than $75,000","Percent of Households with income in the past 12 months that was less than $75,000 *margin of error",SHAPE_Length,SHAPE_Area
0,1,1,161526,0500000US01001,1001,Autauga,6,1.539602e+09,25706961,Alabama,...,1302,235,253,102,2746,407,60.9,3.7,2.052664,0.150257
1,1,3,161527,0500000US01003,1003,Baldwin,6,4.117622e+09,1132980868,Alabama,...,3568,408,910,264,6269,678,61.1,2.0,4.278237,0.409922
2,1,5,161528,0500000US01005,1005,Barbour,6,2.292160e+09,50523213,Alabama,...,1019,184,244,80,2509,238,80.1,4.7,2.566226,0.223253
3,1,7,161529,0500000US01007,1007,Bibb,6,1.612167e+09,9602089,Alabama,...,625,183,148,91,1113,253,69.0,6.7,1.886955,0.156525
4,1,9,161530,0500000US01009,1009,Blount,6,1.670104e+09,15015467,Alabama,...,1721,286,361,137,1977,264,70.1,3.6,2.392512,0.164404

In [174]:
incBen.describe()

,STATEFP,COUNTYFP,COUNTYNS,GEOID,LSAD,ALAND,AWATER,POP_DENSITY,Households: Receiving Food Stamps/SNAP (%),Households: Receiving Food Stamps/SNAP (%) *margin of error,...,Total Households - With Supplemental Security Income,Total Households - With Supplemental Security Income *margin of error,Total Households - With cash public assistance income,Total Households - With cash public assistance income *margin of error,Total Households - With Food Stamp/SNAP benefits in the past 12 months,Total Households - With Food Stamp/SNAP benefits in the past 12 months *margin of error,"Percent of Households with income in the past 12 months that was less than $75,000","Percent of Households with income in the past 12 months that was less than $75,000 *margin of error",SHAPE_Length,SHAPE_Area
count,3220.000000,3220.000000,3.220000e+03,3220.000000,3220.000000,3.220000e+03,3.220000e+03,3220.000000,3220.000000,3220.000000,...,3220.000000,3220.00000,3220.000000,3220.000000,3220.000000,3220.000000,3142.000000,3142.000000,3220.000000,3220.000000
mean,31.290683,102.922050,9.628897e+05,31393.605280,6.569565,2.844537e+09,2.139761e+08,112.750562,13.553571,2.143696,...,2002.686025,204.53354,915.497516,133.216460,4549.725776,306.002795,66.598918,4.706429,2.581581,0.342835
std,16.277207,106.693846,5.174236e+05,16292.078954,2.652226,9.257767e+09,1.220470e+09,692.745183,8.156595,1.362611,...,6644.036851,217.62440,3351.434522,157.858683,14204.635178,315.133197,10.240971,3.000541,3.558888,1.790048
min,1.000000,1.000000,2.390100e+04,1001.000000,0.000000,5.300262e+06,0.000000e+00,0.014261,0.000000,0.100000,...,0.000000,2.00000,0.000000,2.000000,0.000000,2.000000,22.800000,0.200000,0.126110,0.000550
25%,19.000000,35.000000,4.849888e+05,19032.500000,6.000000,1.085267e+09,7.004659e+06,6.683385,8.400000,1.200000,...,225.750000,74.00000,81.000000,44.000000,523.000000,120.000000,61.200000,2.800000,1.622240,0.114586
50%,30.000000,79.000000,9.741585e+05,30024.000000,6.000000,1.565686e+09,1.930200e+07,17.895454,12.200000,1.900000,...,615.500000,150.00000,213.000000,87.000000,1373.500000,221.500000,68.000000,4.400000,1.975052,0.164877
75%,46.000000,133.000000,1.419973e+06,46105.500000,6.000000,2.368903e+09,6.022325e+07,51.768885,16.500000,2.800000,...,1522.750000,251.00000,590.250000,161.000000,3431.000000,377.000000,73.600000,6.000000,2.594089,0.246600
max,72.000000,840.000000,2.516404e+06,72153.000000,25.000000,3.770390e+11,2.597330e+10,27806.766950,62.800000,19.100000,...,223761.000000,2663.00000,112441.000000,2009.000000,289808.000000,3638.000000,89.100000,69.100000,71.549539,74.257061

In [175]:
occupSex = pd.read_csv('Occupation_by_Sex_-_Counties_2015-2019.csv')
occupSex.head()

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,GEO_PARENT_NAME,...,Percent of Civilian Employed Population 16 Years and Over in Food Preparation and Serving Related Occupations,Percent of Civilian Employed Population 16 Years and Over in Food Preparation and Serving Related Occupations*margin of error,Percent of Civilian Employed Population 16 Years and Over in Sales and Related Occupations,Percent of Civilian Employed Population 16 Years and Over in Sales and Related Occupations*margin of error,"Male - Natural resources, construction, and maintenance occupations","Percent of Civilian Employed Population 16 Years and Over in Natural Resources, Construction, and Maintenance Occupations","Percent of Civilian Employed Population 16 Years and Over in Natural Resources, Construction, and Maintenance Occupations*margin of error","Total - Production, transportation, and material moving occupations*margin of error",SHAPE_Length,SHAPE_Area
0,1,1,161526,0500000US01001,1001,Autauga,6,1.539602e+09,25706961,Alabama,...,6.0,1.4,10.2,1.6,1882,7.8,1.2,553,2.052664,0.150257
1,1,3,161527,0500000US01003,1003,Baldwin,6,4.117622e+09,1132980868,Alabama,...,6.3,0.7,13.1,1.1,8375,9.3,1.0,1053,4.278237,0.409922
2,1,5,161528,0500000US01005,1005,Barbour,6,2.292160e+09,50523213,Alabama,...,4.2,1.3,7.4,1.7,1122,14.1,2.5,263,2.566226,0.223253
3,1,7,161529,0500000US01007,1007,Bibb,6,1.612167e+09,9602089,Alabama,...,3.6,1.5,11.5,3.1,1356,16.8,3.7,359,1.886955,0.156525
4,1,9,161530,0500000US01009,1009,Blount,6,1.670104e+09,15015467,Alabama,...,3.2,0.9,8.1,1.3,3428,16.2,1.7,448,2.392512,0.164404

In [176]:
occupSex.describe()

,STATEFP,COUNTYFP,COUNTYNS,GEOID,LSAD,ALAND,AWATER,Total - Civilian employed population 16 years and over,Total - Civilian employed population 16 years and over *margin of error,Male - Civilian employed population 16 years and over,...,Percent of Civilian Employed Population 16 Years and Over in Food Preparation and Serving Related Occupations,Percent of Civilian Employed Population 16 Years and Over in Food Preparation and Serving Related Occupations*margin of error,Percent of Civilian Employed Population 16 Years and Over in Sales and Related Occupations,Percent of Civilian Employed Population 16 Years and Over in Sales and Related Occupations*margin of error,"Male - Natural resources, construction, and maintenance occupations","Percent of Civilian Employed Population 16 Years and Over in Natural Resources, Construction, and Maintenance Occupations","Percent of Civilian Employed Population 16 Years and Over in Natural Resources, Construction, and Maintenance Occupations*margin of error","Total - Production, transportation, and material moving occupations*margin of error",SHAPE_Length,SHAPE_Area
count,3220.000000,3220.000000,3.220000e+03,3220.000000,3220.000000,3.220000e+03,3.220000e+03,3.220000e+03,3220.000000,3.220000e+03,...,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000
mean,31.290683,102.922050,9.628897e+05,31393.605280,6.569565,2.844537e+09,2.139761e+08,4.840705e+04,638.408075,2.541800e+04,...,5.457453,1.599907,9.231553,1.931398,4077.551553,12.538665,2.265466,403.540683,2.581581,0.342835
std,16.277207,106.693846,5.174236e+05,16292.078954,2.652226,9.257767e+09,1.220470e+09,1.607070e+05,677.716564,8.558493e+04,...,1.830762,1.358426,2.166414,1.386342,12262.954236,4.166201,1.774543,422.525752,3.558888,1.790048
min,1.000000,1.000000,2.390100e+04,1001.000000,0.000000,5.300262e+06,0.000000e+00,3.300000e+01,11.000000,2.500000e+01,...,0.000000,0.100000,0.000000,0.100000,0.000000,0.000000,0.100000,5.000000,0.126110,0.000550
25%,19.000000,35.000000,4.849888e+05,19032.500000,6.000000,1.085267e+09,7.004659e+06,4.608000e+03,253.000000,2.469000e+03,...,4.400000,0.900000,7.900000,1.100000,583.000000,9.700000,1.100000,156.000000,1.622240,0.114586
50%,30.000000,79.000000,9.741585e+05,30024.000000,6.000000,1.565686e+09,1.930200e+07,1.075000e+04,437.000000,5.711500e+03,...,5.300000,1.300000,9.300000,1.700000,1311.500000,12.100000,1.900000,282.000000,1.975052,0.164877
75%,46.000000,133.000000,1.419973e+06,46105.500000,6.000000,2.368903e+09,6.022325e+07,2.948300e+04,748.250000,1.558225e+04,...,6.300000,1.925000,10.600000,2.400000,3189.500000,14.800000,2.900000,485.250000,2.594089,0.246600
max,72.000000,840.000000,2.516404e+06,72153.000000,25.000000,3.770390e+11,2.597330e+10,4.929863e+06,9150.000000,2.663007e+06,...,20.100000,42.400000,22.100000,42.400000,359772.000000,46.000000,42.400000,5282.000000,71.549539,74.257061

In [177]:
popPov = pd.read_csv('Population_and_Poverty_Status_-_Counties_2015-2019.csv')
popPov.head()

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,GEO_PARENT_NAME,...,Percentage of people whose income in the past 12 months is below the poverty level - Related children of the householder under 5 years,Percentage of people whose income in the past 12 months is below the poverty level - Related children of the householder under 5 years *margin of error,Percentage of people whose income in the past 12 months is below the poverty level - 65 years and over,Percentage of people whose income in the past 12 months is below the poverty level - 65 years and over *margin of error,Percentage of people whose income in the past 12 months is below the poverty level,Percentage of people whose income in the past 12 months is below the poverty level - All people *margin of error,Total NonFamily Hhlds w/Male Householder *margin of error,Total NonFamily Hhlds w/Female Householder *margin of error,Shape__Area,Shape__Length
0,1,1,161526,0500000US01001,1001,Autauga,6,1.539602e+09,25706961,Alabama,...,21.2,6.2,8.7,2.1,15.2,1.8,390,385,2.052664,0.150257
1,1,3,161527,0500000US01003,1003,Baldwin,6,4.117622e+09,1132980868,Alabama,...,16.0,3.7,7.4,1.4,10.4,0.9,891,1079,4.278237,0.409922
2,1,5,161528,0500000US01005,1005,Barbour,6,2.292160e+09,50523213,Alabama,...,59.0,7.1,16.8,3.1,30.7,2.4,235,219,2.566226,0.223253
3,1,7,161529,0500000US01007,1007,Bibb,6,1.612167e+09,9602089,Alabama,...,17.3,12.6,6.9,3.2,18.1,4.5,216,228,1.886955,0.156525
4,1,9,161530,0500000US01009,1009,Blount,6,1.670104e+09,15015467,Alabama,...,21.0,5.4,10.9,2.8,13.6,1.7,368,378,2.392512,0.164404

In [178]:
popPov.describe()

,STATEFP,COUNTYFP,COUNTYNS,GEOID,LSAD,ALAND,AWATER,POP_DENSITY,Total Households Below the Poverty Level,Total Households Below the Poverty Level *margin of error,...,Percentage of people whose income in the past 12 months is below the poverty level - Related children of the householder under 5 years,Percentage of people whose income in the past 12 months is below the poverty level - Related children of the householder under 5 years *margin of error,Percentage of people whose income in the past 12 months is below the poverty level - 65 years and over,Percentage of people whose income in the past 12 months is below the poverty level - 65 years and over *margin of error,Percentage of people whose income in the past 12 months is below the poverty level,Percentage of people whose income in the past 12 months is below the poverty level - All people *margin of error,Total NonFamily Hhlds w/Male Householder *margin of error,Total NonFamily Hhlds w/Female Householder *margin of error,Shape__Area,Shape__Length
count,3220.000000,3220.000000,3.220000e+03,3220.000000,3220.000000,3.220000e+03,3.220000e+03,3220.000000,3220.000000,3220.000000,...,3219.000000,3219.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000
mean,31.290683,102.922050,9.628897e+05,31393.605280,6.569565,2.844436e+09,2.139761e+08,112.750562,5014.081988,331.460870,...,24.442591,9.207766,10.665559,3.136925,15.893385,2.508944,341.631988,345.832609,2.581581,0.342835
std,16.277207,106.693846,5.174236e+05,16292.078954,2.652226,9.256066e+09,1.220470e+09,692.745183,15831.216075,335.315926,...,14.312147,7.020335,6.730415,3.054970,8.087809,1.608233,354.654053,372.099228,3.558888,1.790048
min,1.000000,1.000000,2.390100e+04,1001.000000,0.000000,5.300262e+06,0.000000e+00,0.014261,2.000000,2.000000,...,0.000000,0.500000,0.000000,0.200000,2.400000,0.100000,7.000000,12.000000,0.126110,0.000550
25%,19.000000,35.000000,4.849888e+05,19032.500000,6.000000,1.085267e+09,7.004659e+06,6.683385,661.000000,135.000000,...,14.750000,4.800000,7.100000,1.600000,10.700000,1.400000,140.000000,135.000000,1.622240,0.114586
50%,30.000000,79.000000,9.741585e+05,30024.000000,6.000000,1.565686e+09,1.930200e+07,17.895454,1557.000000,240.000000,...,22.000000,7.800000,9.200000,2.600000,14.400000,2.200000,237.000000,235.000000,1.975052,0.164877
75%,46.000000,133.000000,1.419973e+06,46105.500000,6.000000,2.368903e+09,6.022325e+07,51.768885,3812.000000,409.250000,...,31.100000,11.600000,12.000000,4.000000,18.800000,3.300000,406.000000,405.250000,2.594089,0.246600
max,72.000000,840.000000,2.516404e+06,72153.000000,25.000000,3.770000e+11,2.597330e+10,27806.766950,481979.000000,4539.000000,...,100.000000,100.000000,60.000000,100.000000,64.500000,19.000000,4343.000000,4295.000000,71.549539,74.257061

In [179]:
usa_covid = pd.read_csv('usa_county_27july.csv')
usa_covid.head()

,UID,iso2,iso3,code3,Geographic Identifier - FIPS Code,County_Name,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",7/27/20,932,20
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",7/27/20,2727,17
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",7/27/20,529,4
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",7/27/20,327,2
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",7/27/20,601,1

In [180]:
usa_covid.describe()

,UID,code3,Geographic Identifier - FIPS Code,Lat,Long_,Confirmed,Deaths
count,3.340000e+03,3340.000000,3330.000000,3340.000000,3340.000000,3340.000000,3340.000000
mean,8.342958e+07,834.491617,33061.684685,36.707212,-88.601474,1284.508683,44.314671
std,4.315345e+06,36.498055,18638.940791,9.062922,21.718982,6844.463318,448.443711
min,1.600000e+01,16.000000,60.000000,-14.271000,-174.159600,0.000000,0.000000
25%,8.401811e+07,840.000000,19079.500000,33.895587,-97.790204,39.000000,0.000000
50%,8.402921e+07,840.000000,31014.000000,38.002344,-89.486710,151.000000,2.000000
75%,8.404612e+07,840.000000,47130.500000,41.573069,-82.311265,569.000000,12.000000
max,8.410000e+07,850.000000,99999.000000,69.314792,145.673900,224051.000000,23500.000000

As we can see, most of the data sets have 3,220 data points, while the Covid dataset has 3,340 data points. Looking into file, we noted why: the Covid dataset also included categories for travellers. People who travelled out of state and caught Covid were still registered, but under a different category than their home state. As such, there are some additional county data points which are not reflected in the other data sets. To enable us to perform a coherent study, we decided to ignore these data points for now, and will do a separate investigation on them later.

Now, we will start merging the data sets, one at a time using the pandas merge command, using the GNIS County Code as the key. (FOLLOW UP)

In [181]:
county_covid = pd.merge(housePop, healthInc, on="COUNTYNS")

In [182]:
county_covid = pd.merge(county_covid, incBen, on="COUNTYNS")

In [183]:
county_covid = pd.merge(county_covid, occupSex, on="COUNTYNS")

In [184]:
county_covid = pd.merge(county_covid, popPov, on="COUNTYNS")

In [185]:
#county_covid.to_csv('county_megaset.csv', index=False)

In [186]:
county_covid['Geographic Identifier - FIPS Code'].describe()

count     3220.000000
mean     31393.605280
std      16292.078954
min       1001.000000
25%      19032.500000
50%      30024.000000
75%      46105.500000
max      72153.000000
Name: Geographic Identifier - FIPS Code, dtype: float64

Since we are merging similar datasets, some of the columns are identical, to avoid future complications, we will remove those duplicates first.

In [187]:
county_covid = county_covid.loc[:,~county_covid.columns.duplicated()]

In [188]:
county_covid = pd.merge(county_covid, usa_covid, on="Geographic Identifier - FIPS Code")

In [189]:
county_covid.describe()

,COUNTYNS,Geographic Identifier - FIPS Code,Area of Land (square meters),Area of Water (square meters),Average Household Size,Average Household Size - Margin of Error,Average Household Size of Owner-Occupied Unit,Average Household Size of Owner-Occupied Unit - Margin of Error,Average Household Size of Renter-Occupied Unit,Average Household Size of Renter-Occupied Unit - Margin of Error,...,Total NonFamily Hhlds w/Male Householder *margin of error,Total NonFamily Hhlds w/Female Householder *margin of error,Shape__Area,Shape__Length,UID,code3,Lat,Long_,Confirmed,Deaths
count,3.220000e+03,3220.000000,3.220000e+03,3.220000e+03,3220.000000,3220.000000,3219.000000,3219.000000,3220.000000,3220.000000,...,3220.000000,3220.000000,3220.000000,3220.000000,3.220000e+03,3220.000000,3220.000000,3220.000000,3220.000000,3220.00000
mean,9.628897e+05,31393.605280,2.844093e+09,2.143251e+08,2.529093,0.081494,2.563088,0.102336,2.444950,0.202314,...,341.631988,345.832609,2.581581,0.342835,8.352270e+07,834.913043,37.965788,-91.661759,1316.137578,45.27764
std,5.174236e+05,16292.078954,9.255389e+09,1.220804e+09,0.279374,0.067781,0.274885,0.079810,0.393263,0.182878,...,354.654053,372.099228,3.558888,1.790048,3.222722e+06,32.290983,6.095200,13.388721,6962.304363,456.31641
min,2.390100e+04,1001.000000,5.300265e+06,0.000000e+00,1.340000,0.010000,1.790000,0.010000,1.360000,0.010000,...,7.000000,12.000000,0.126110,0.000550,6.307200e+07,630.000000,17.982429,-174.159600,0.000000,0.00000
25%,4.849888e+05,19032.500000,1.085268e+09,7.009854e+06,2.350000,0.040000,2.400000,0.050000,2.200000,0.100000,...,140.000000,135.000000,1.622240,0.114586,8.401806e+07,840.000000,34.353621,-98.086287,43.000000,0.00000
50%,9.741585e+05,30024.000000,1.565689e+09,1.938601e+07,2.490000,0.070000,2.520000,0.090000,2.400000,0.170000,...,237.000000,235.000000,1.975052,0.164877,8.402910e+07,840.000000,38.212711,-89.945118,158.000000,2.00000
75%,1.419973e+06,46105.500000,2.368884e+09,6.069241e+07,2.650000,0.100000,2.690000,0.130000,2.640000,0.250000,...,406.000000,405.250000,2.594089,0.246600,8.404504e+07,840.000000,41.694461,-82.990516,585.000000,13.00000
max,2.516404e+06,72153.000000,3.770000e+11,2.599228e+10,4.970000,1.140000,4.880000,1.460000,6.810000,5.490000,...,4343.000000,4295.000000,71.549539,74.257061,8.405604e+07,840.000000,69.314792,-65.288130,224051.000000,23500.00000

In [190]:
county_covid.to_csv('county_megaset.csv', index=False)

Now, we have the data set that we want to work with, which we will then conduct our Exploratory Data Analysis.